<footer class="outer-container">
  <div id="footer-links" class="inner-container">
    <div id="copyright">
      <h3>A.S. Graphic Studio</h3>
      <p>All Rights Reserved © 2010 – 2019</p>
    </div>
    <div>
      <h4>Address</h4>
      <p>
        9500 Gilman Drive #0077<br />
        La Jolla, CA 92093–0077
      </p>
    </div>
    <div>
      <h4>Reach Us</h4>
      <p>
        <a href="tel:8582460972">858.246.0972</a><br />
        <a href="mailto:asgraphicstudio@ucsd.edu">asgraphicstudio@ucsd.edu</a>
      </p>
    </div>
    <div>
      <h4>Associated Students</h4>
      <p><a href="https://as.ucsd.edu/" target="_blank">as.ucsd.edu</a></p>
    </div>
  </div>
</footer>
