<footer class="outer-container">
  <div id="footer-links" class="inner-container">
    <div id="copyright">
      <h2>A.S. Graphic Studio</h2>
      <p>All Rights Reserved © 2010 – 2018</p>
    </div>
    <div>
      <h3>Address</h3>
      <p>
        9500 Gilman Drive #0077<br />
        La Jolla, CA 92093-0077
      </p>
    </div>
    <div>
      <h3>Reach Us</h3>
      <p>
        858.246.0972<br />
        <a href="mailto:asgraphicstudio@ucsd.edu">asgraphicstudio@ucsd.edu</a>
      </p>
    </div>
    <div>
      <h3>Associated Students</h3>
      <p><a href="https://as.ucsd.edu/" target="_blank">as.ucsd.edu</a></p>
    </div>
  </div>
</footer>
