#confetti-container {
  background-color: $blue;
  overflow: hidden;
  height: 25rem;
  width: 100%;
  position: relative;
  @include sm-up {
    height: 45rem;
  }
}

#confetti-text {
  user-select: none;
  height: 100%;
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
  letter-spacing: -0.04rem;
  line-height: 0;
  white-space: nowrap;
  top: 50%;
  text-shadow: 0 0 4rem $blue;
  font-size: 5vw;
  @include sm-up {
    font-size: 4vw;
  }
  @include xl-up {
    font-size: 5.1rem;
  }
}

#confetti-canvas {
  background-color: $blue;
}

#news-container {
  //padding: $md-gap 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  @include sm-up {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
  @include xl-up {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.news-card {
  transition: 0.3s;
  @include hover {
    transform: scale(1.04);
  }
  img {
    width: 100%;
  }
  h2 {
  }
  h2,
  p {
    padding: 0 0.5rem;
  }

  &:not(:last-child) {
    margin-bottom: 4rem;
  }
  @include xl-up {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.spotlight-container {
  img {
    width: 100%;
    transition: 0.3s;
    @include hover {
      transform: scale(1.02);
    }
  }
  .text {
    margin-top: 1.5rem;
    @include md-up {
      margin-top: 0;
    }
  }
  @include md-up {
    display: grid;
    grid-template-columns: 66.66% 1fr;
    grid-gap: 4rem;
  }
}
