html {
  //scroll-behavior: smooth;
}

.block {
  min-height: calc(100vh - #{$nav-height});
  &-green {
    background-color: $green;
    color: #fff;
  }
  &-gray {
    background-color: $light-gray;
  }
  &-dark {
    background-color: $gray;
    color: #fff;
  }
  padding: 10rem 0;
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 8vw;
  box-sizing: border-box;
  max-width: 1800px;
  height: 100%;
}

button {
  background-color: $green;
  color: #fefefe;
  text-transform: lowercase;
  white-space: nowrap;
  font-size: 2rem;
  line-height: 0;
  padding: 2rem 2.5rem 2.5rem;
  font-family: inherit;
  font-weight: bold;
  letter-spacing: inherit;
  border: none;
  margin: 1.5rem 0;
  transition: 0.3s;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
  @include hover {
    background-color: rgba(255, 255, 255, 0);
    color: $green;
    box-shadow: inset 0rem 0rem 0 0.3rem $green;
  }
}
