nav {
  background-color: #fff;
  border-bottom: 0.1rem solid #ececec;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 9999;
  height: 8rem;
  text-transform: lowercase;
  font-weight: bold;
  font-size: 0.5rem;
  opacity: 0;
  transition: opacity 0.8s;
  &.opaque {
    opacity: 1;
  }
  @include md-up {
    font-size: 100%;
  }
  li {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 0.8rem;
      @include md-up {
        margin-right: 4rem;
      }
    }
  }
  a {
    border: none;
    transition: color 0.3s, opacity 0.3s;
    &.active {
      color: $green;
    }
    @include hover {
      opacity: 0.4;
    }
  }
}

#nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  @include md-up {
    justify-content: space-between;
  }
}

#home-link {
  display: none;
  @include md-up {
    display: inline-block;
  }
}

#nav-logo {
  height: 3.2rem;
}

header {
  position: relative;
  width: 100%;
  text-align: center;
  height: 100vh;
}

#header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#header-logo {
  //max-width: 80rem;
  width: 60vw;
  user-select: none;
  margin-bottom: 4rem;
}

#mouse-icon {
  position: absolute;
  bottom: 4rem;
  opacity: 0.3;
  height: 4rem;
  animation: bounce 0.5s alternate infinite;
  user-select: none;
  //display: none;
}

@keyframes bounce {
  from {
    -webkit-transform: translate3d(0, 0.5rem, 0);
    transform: translate3d(0, 0.5rem, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0.5rem, 0);
    transform: translate3d(0, -0.5rem, 0);
  }
}
