html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Century Gothic", "Helvetica", "Arial", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.03rem;
  line-height: 2.8rem;
  color: $gray;
}

h1,
h2,
h3 {
  font-weight: bold;
  text-transform: lowercase;
}

h1 {
  font-size: 4rem;
  margin-bottom: 8rem;
  line-height: 4.9rem;
  color: $green;
}

h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 0;
  line-height: 3.9rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.9rem;
  //margin-bottom: 4rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 4rem;
}

.font-weight-normal {
  font-weight: normal;
}

i {
  font-style: italic;
}

b {
  font-weight: bold;
}

a {
  border-bottom: 1px solid $gray;
  transition: border 0.3s;
  @include hover {
    border-color: rgba(255, 255, 255, 0);
  }
}

hr {
  border-top: 0.2rem solid #ddd;
}
