@font-face {
  font-family: "Century Gothic";
  src: url("/assets/fonts/CenturyGothic.eot");
  src: url("/assets/fonts/CenturyGothic.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/CenturyGothic.woff2") format("woff2"),
    url("/assets/fonts/CenturyGothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Century Gothic";
  src: url("/assets/fonts/CenturyGothic-bold.eot");
  src: url("/assets/fonts/CenturyGothic-bold.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/CenturyGothic-bold.woff2") format("woff2"),
    url("/assets/fonts/CenturyGothic-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

html {
  font-size: 45%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include sm-up {
    font-size: 62.5%;
  }
}

body {
  font-family: "Century Gothic", "Helvetica", "Arial", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.03rem;
  line-height: 2.4rem;
  color: $gray;
  @include sm-up {
    line-height: 2.8rem;
  }
}

h1,
h2,
h3 {
  font-weight: bold;
  text-transform: lowercase;
}

h1 {
  font-size: 4rem;
  margin-bottom: 4rem;
  line-height: 4.9rem;
  //color: $green;
  @include sm-up {
    margin-bottom: 8rem;
  }
}

h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 0;
  line-height: 3.9rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.9rem;
  //margin-bottom: 4rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 4rem;
}

.font-weight-normal {
  font-weight: normal;
}

i {
  font-style: italic;
}

b {
  font-weight: bold;
}

a {
  border-bottom: 1px solid $gray;
  transition: border 0.3s;
  @include hover {
    border-color: rgba(255, 255, 255, 0);
  }
}

hr {
  border-top: 0.2rem solid #ddd;
}

.h2-icon {
  height: 4.5rem;
  //display: inline-block;
  margin-bottom: -1.2rem;
  margin-left: 1.3rem;
}

.h1-icon {
  @extend .h2-icon;
  margin-bottom: -1rem;
}
