header {
  display: flex;
  align-items: center;
  align-items: flex-end;
  height: $header-height;
  margin-bottom: 4rem;
  .inner-container {
    margin-top: 0.3rem;
    width: 100%;
  }
  @include sm-up {
    margin-bottom: 8rem;
    height: $header-height-sm;
    .inner-container {
      margin-top: 0.8rem;
    }
  }
}

#nav-container {
  width: 100%;
  text-align: center;
  @include sm-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#nav-logo {
  margin-bottom: 1.8rem;
  @include sm-up {
    margin-bottom: 0;
  }
}

#nav {
  margin-top: -1rem;
  li {
    display: inline-block;
  }
  a {
    border: none;
    text-transform: lowercase;
    text-decoration: none;
    display: inline-block;
    padding: 1.4rem 1.2rem 1.5rem;
    line-height: 0;
    transition: background-color 0.3s, color 0.3s, opacity 0.3s;
    font-size: 85%;
    &:not(:last-child) {
      margin-right: 0.4rem;
    }
    &.active {
      color: #fff;
      background-color: $accent;
    }
    @include md-up {
      font-size: 100%;
      padding: 1.8rem 1.8rem 2rem;
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}
